# .clang-format
# this shit doesnt fuckign work fuck this fucking shitty ass formatter
BasedOnStyle: Linux
ReflowComments: Never
ColumnLimit: 1000000
NamespaceIndentation: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
AllowShortIfStatementsOnASingleLine: true
BinPackArguments: false